.cursor {
	display: none;
	z-index: 30;
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		fill: #FFF;
		stroke: #FFF;
		stroke-width: var(--cursor-stroke-width);
	}
	.credits {
		padding-left: 25vw;
	}
}
