body {
    background-color: #111;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #fff;

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 88vw;
        height: 60px;
        margin: 4em 6vw 0 6vw;

        img {
            height: 60px;
            display: inline-block;
        }

        h1 {
            display: inline-block;
            font-size: 2em;
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: 768px) {
        header {
            height: 50px;
            margin: 1.5em 6vw 0 6vw;

            img {
                height: 50px;
            }

            h1 {
                font-size: 18px;
            }
        }
    }


    div {
        margin: 12em 0 3em 0;

        h2 {
            font-size: 2em;
            color: #299edc;
            margin-top: 2em;
        }

        @media (max-width: 768px) {
            margin: 8em 0 3em 0;
            font-size: 14px;

            h2 {
                font-size: 1.6em;
            }
        }

        a {
            color: #299edc;
            text-decoration: none;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                border-radius: 2px;
                background-color: #299edc;
                left: 0;
                bottom: -2px;
                transition-duration: .3s;
            }

            &:hover {
                color: #299edc;
                text-decoration: none;

                &:after {
                    width: 100%;
                }
            }
        }
    }
}